.feedback-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 800px;
  padding: 20px;
  background-color: rgb(213, 247, 236);
}

.feedback-result-container {
  display: flex;
  gap: 30px;
  width: 100%;
}

.like-dislike-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.result {
  min-width: 70px;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: rgb(9, 137, 95);
}
